@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
  /* ================ DEFAULT COLOURS ==================== */
  --main-color: #445876;
  --first-color: #2b2e36;
  --second-color: #90c9cb;
  --third-color: #31343d;
  --forth-color: #91cccd;
  --p-colour: #6e83a3;

  /* =============== DEFAULT FONT SIZE =================== */
  --p--font: 0.5rem;
  --one-font: 3rem;
  --two-font: 2rem;
  --three-font: 1.5rem;
  --four-font: 1rem;
  --five-font: 0.75rem;
}

/* =============== UNIVERSAL STYLING =================== */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* ================ NAVIGATION BAR ===================== */

/* navbar styling and colour */
.navbar {
  width: 100%;
  height: 10rem;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* styling of my name */
.nav__title {
  font-size: var(--one-font);
  margin-left: 100;
  color: var(--first-color);
  background-color: var(--second-color);
  padding: 0.5rem 0.5rem 0.5rem 10rem;
}

/* making the navbar links spread out */
.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5%;
}

/* styling the navbar links to look the same as the mockup */
.nav__links li {
  font-size: var(--two-font);
  color: var(--second-color);
  padding-right: 1rem;
}

.nav__links li a {
  text-decoration: none;
  color: var(--second-color);
  border-bottom: 5px solid var(--second-color);
  padding: 0.5rem;
  transition: 0.3s linear;
}

.nav__links li a:hover {
  background-color: var(--second-color);
  color: var(--first-color);
}

/* =========== MAIN PHOTO ================= */

/* this is the header photo */
.main__photo {
  width: 100vw;
  height: 15rem;
  margin: auto;
}

.main__photo img {
  width: 100vw;
  height: 15rem;
  object-fit: cover;
}

/* the text overlay for the header photo*/
.text__overlay {
  position: relative;
  top: -10rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}

.text__overlay h2 {
  color: var(--first-color);
  background-color: var(--second-color);
  font-size: var(--one-font);
  padding: 1rem;
}

/* =========== GRID CONTAINER  ================= */

/* created a grid to make sure all items on the page can align properly */
.grid__container {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  grid-template-rows: 0.5fr 3fr 0.5fr;
  gap: 2rem 1rem;
  grid-template-areas:
    ". ."
    ". ."
    ". ."
    ". ."
    ". .";
  width: 80vw;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

/* =========== TITLES ================= */

/* titles that displays next to each section */
.about__title,
.work__title,
.contact__title {
  font-size: var(--two-font);
  color: var(--main-color);
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

/* positioning the titles */
.about__title h1,
.work__title h1,
.contact__title h1 {
  margin-top: 0px;
  margin-right: 1rem;
  height: 100%;
}

/* this is a spacer element only for decorations */
.line__spacer {
  height: 100%;
  width: 0.4rem;
  background-color: var(--main-color);
}

/* making sure the content sections fill the screen*/
.about__content,
.work__content,
.contact__content {
  height: 100%;
}

/* =========== ABOUT - CONTENT ================= */

/* making the different elements sit next to eachother */
.about__content {
  display: flex;
}

.about__content p {
  color: var(--p-colour);
  font-size: var(--three--font);
  font-weight: lighter;
}

.about__content img {
  width: 300px;
  border: 0.5rem solid var(--second-color);
  margin: auto;
  margin: 1rem;
}

/* =========== WORK - CONTENT ================= */

/* creating another grid for my portfolio because its an easy container setup */
.work__container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 1fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}

.grid__1,
.grid__2,
.grid__3,
.grid__4,
.grid__5 {
  display: flex;
}

/* creating and styling the cards for each of the projects */
.bigger__card {
  width: 100%;
  position: relative;
}

.bigger__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bigger__card a {
  width: 100%;
  height: 100%;
}

.card {
  width: 50%;
  position: relative;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card a {
  width: 100%;
  height: 100%;
}

.bigger__card,
.card {
  border: 0.5rem solid var(--second-color);
  margin: 1rem;
}

/* creating a element that displays text over each project in the bottom left */
.bottom__left {
  position: absolute;
  bottom: 1rem;
  left: 0px;
  background-color: var(--second-color);
  padding: 1rem;
}

.bottom__left img {
  width: 24px;
  height: 24px;
}

/* styling header elements */
.bottom__left h3,
.bottom__left h4 {
  margin-bottom: 0;
  color: var(--third-color);
}

.bottom__left h4 {
  font-weight: lighter;
  font-size: var(--four--font);
  margin-top: 1rem;
}

.bottom__left h3 {
  font-size: var(--two-font);
  margin-top: 0px;
}

/* creating a element that gives a transparent colour over images */
.colour__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(14, 91, 94, 0.3);
  transition: ease 0.4s;
  cursor: pointer;
}

/* hover to remove effect */
.colour__overlay:hover {
  background-color: rgba(0, 0, 0, 0);
}

.links-container {
  display: flex;
}

.links-container img {
  margin: 0.5em;
}

.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #2b2e36;
}
/* =========== CONTACT - CONTENT ================= */

/* making sure the links to my socials are spaced out */
.contact__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* styling and positioning links */
.contact__links {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 100%;
}

.contact__links li {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.contact__links a {
  font-size: var(--two-font);
  text-decoration: none;
  color: var(--third-color);
  border-bottom: 0.3rem solid var(--main-color);
  padding: 0.2rem;
  transition: linear 0.3s;
}

/* creating a hover effect for my links because it wasnt shown in the mockup */
.contact__links a:hover {
  background-color: var(--main-color);
  color: var(--second-color);
}

/* =========== MEDIA QUERIES ================= */

/* large laptops */

@media screen and (max-width: 1330px) {
  .nav__title {
    font-size: var(--two-font);
  }

  .nav__links li {
    font-size: var(--three-font);
  }

  .text__overlay h2 {
    font-size: var(--two-font);
  }
}

/* large laptops and large tablets */

@media screen and (max-width: 1150px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .nav__title {
    margin-left: 0;
    padding: 0.5rem;
    margin-top: 1rem;
  }

  .nav__links {
    margin: 0;
  }

  .grid__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3fr 0.5fr;
    gap: 2rem 1rem;
    grid-template-areas:
      "about__title"
      "about__content"
      "work__title"
      "work__content"
      "contact__title"
      "contact__content";
    width: 80vw;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 3rem;
  }

  .about__title,
  .contact__title,
  .work__title {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .about__title h1,
  .contact__title h1,
  .work__title h1 {
    margin: 0;
  }

  .line__spacer {
    width: 100%;
    height: 0.4rem;
  }

  .about__content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .about__content img {
    width: 25rem;
    height: 25rem;
    margin: auto;
  }

  .contact__links {
    display: flex;
    flex-direction: column;
  }

  .contact__links li {
    margin-bottom: 1rem;
  }

  .text__overlay {
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 0;
  }
}

/* medium laptops and medium tablets */

@media screen and (max-width: 992px) {
  .nav__title {
    font-size: var(--three-font);
  }

  .nav__links li {
    font-size: var(--four-font);
  }

  .text__overlay h2 {
    font-size: var(--three-font);
  }

  .grid__container {
    grid-template-columns: 100%;
    margin-top: 3rem;
  }

  .bottom__left {
    position: absolute;
    background-color: var(--second-color);
    padding: 1rem;
  }

  .bottom__left h3 {
    font-size: var(--four-font);
  }

  .bottom__left h4 {
    font-weight: lighter;
    font-size: var(--five--font);
    margin-top: 1rem;
  }

  .contact__links a {
    font-size: var(--three-font);
    display: flex;
    justify-content: center;
  }

  .contact__links {
    font-size: var(--three-font);
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .grid__container {
    grid-template-areas:
      "."
      "."
      "."
      "."
      ".";
  }
  .grid__2,
  .grid__3,
  .grid__4,
  .grid__5 {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .bigger__card {
    width: 100%;
  }

  .work__container {
    grid-template-rows: 1fr;
  }

  .link {
    align-items: center;
    justify-content: center;
  }

  .links-container {
    background-color: var(--second-color);
  }
}

/* small laptops and small tablets */

@media screen and (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav__title {
    margin-left: 0;
    padding: 0.5rem;
  }

  .nav__title {
    font-size: var(--three-font);
  }
  .nav__links li {
    font-size: var(--four-font);
  }

  .text__overlay h2 {
    font-size: var(--four-font);
  }

  .card {
    width: 100%;
  }
}

/* mobile device screens */

@media screen and (max-width: 576px) {
  .about__content img {
    width: 10rem;
    height: 10rem;
    margin: auto;
  }

  .bottom__left {
    width: 100%;
    height: 100%;
    top: 0;
    text-align: center;
    background-color: rgba(144, 201, 203, 0.4);
  }

  .bottom__left h3,
  .bottom__left h4 {
    color: var(--main-color);
    margin-top: 0;
    background-color: var(--second-color);
  }

  .nav__links li {
    font-size: var(--five-font);
  }
}

@media screen and (max-width: 370px) {
  .nav__links li {
    font-size: 0.5em;
  }

  .contact__links a {
    font-size: var(--four-font);
  }
}
