@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap");

:root {
  /* ================ DEFAULT COLOURS ==================== */
  --main-color: #445876;
  --first-color: #2b2e36;
  --second-color: #90c9cb;
  --third-color: #31343d;
  --forth-color: #91cccd;
  --p-colour: #6e83a3;

  /* =============== DEFAULT FONT SIZE =================== */
  --p--font: 0.5rem;
  --one-font: 3rem;
  --two-font: 2rem;
  --three-font: 1rem;
  --four-font: 0.75rem;
}

/* =============== UNIVERSAL STYLING =================== */

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/* ================ NAVIGATION BAR ===================== */

.navbar {
  width: 100%;
  height: 10rem;
  background-color: var(--third-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__title {
  font-size: var(--one-font);
  margin-left: 100;
  color: var(--first-color);
  background-color: var(--second-color);
  padding: 0.5rem 0.5rem 0.5rem 10rem;
}

.nav__links {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.nav__links li {
  font-size: var(--two-font);
  color: var(--second-color);
  padding-right: 1rem;
}

.nav__links li a {
  text-decoration: none;
  color: var(--second-color);
  border-bottom: 5px solid var(--second-color);
  transition: 0.3s linear;
}

.nav__links li a:hover {
  background-color: var(--second-color);
  color: var(--first-color);
  padding: 0.5rem;
}

/* =========== MAIN PHOTO ================= */

.main__photo {
  width: 100%;
  height: 15rem;
  margin: auto;
}

.main__photo img {
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.text__overlay {
  position: relative;
  top: -10rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
}

.text__overlay h2 {
  color: var(--first-color);
  background-color: var(--second-color);
  font-size: var(--one-font);
  padding: 1rem;
}

/* =========== ABOUT SECTION ================= */

.about {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex: row;
}

.about__container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3rem;
}

.about__title {
  font-size: var(--one-font);
  color: var(--main-color);
  text-align: right;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.about__title h3 {
  margin-top: 0px;
}

.about__content p {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: var(--three--font);
  color: var(--p-colour);
  flex-wrap: wrap;
  padding-left: 2rem;
  position: relative;
  align-items: flex-start;
}

.about__content {
  margin: 0;
  display: flex;
}

.line__spacer {
  width: 6px;
  height: inherit;
  background-color: var(--main-color);
  margin: 5px;
  display: flex;
  position: relative;
  display: flex;
}

/* =========== ABOUT SECTION ================= */

.work {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex: row;
}

.work__container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3rem;
}

.work__title {
  font-size: var(--one-font);
  color: var(--main-color);
  text-align: right;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.work__title h3 {
  margin-top: 0px;
}

.work__wrapper {
  margin: 0;
  display: flex;
}

.work__content {
  width: 100%;
  margin: 0px;
  display: flex;
  justify-content: space-evenly;
}

.line__spacer {
  width: 6px;
  height: inherit;
  background-color: var(--main-color);
  margin: 5px;
  display: flex;
  position: relative;
}

/* =========== CONTACT  SECTION ================= */

.contact {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex: row;
}

.contact__container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 3rem;
}

.contact__title {
  font-size: var(--one-font);
  color: var(--main-color);
  text-align: right;
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.contact__title h3 {
  margin-top: 0px;
  text-align: right;
}

.contact__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: var(--three--font);
  color: var(--p-colour);
  flex-wrap: wrap;
  padding-left: 2rem;
  position: relative;
  align-items: center;
}

.contant__content {
  margin: 0;
  display: flex;
  flex-direction: row;
}

.line__spacer {
  width: 6px;
  height: 100%;
  background-color: var(--main-color);
  margin: 5px;
  display: flex;
  position: relative;
  display: flex;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.links li {
  font-size: var(--two-font);
  color: #343640;
  padding-right: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.links li a {
  text-decoration: none;
  color: black;
  border-bottom: 5px solid var(--main-color);
  transition: 0.3s linear;
  padding: 0px;
}

.links li a:hover {
  background-color: var(--main-color);
  color: var(--first-color);
}
